<nav class="navbar navbar-expand-sm navbar-light border-top mt-5 pt-4 pb-5 px-0 clearfix">
    {% include 'partials/navbar-list.twig' with {
        items: footer_menu.items,
        class: 'ml-auto'
    } %}
</nav>