<div class="row">
  {% for item in menu.items %}
    {% include 'partials/item.twig' with {
      alt: item.name,
      image: item.description,
      link: item.url,
      title: item.name
    } %}
  {% endfor %}
</div>