<a href="{{ link }}" class="col-md-4 mb-4">
    <div class="card bg-transparent rounded-0 border-0">
        <img
            src="{{ image }}"
            alt="{{ alt }}"
            class="card-img-top rounded-0 ie-fix"
        >
        <div class="card-body pt-2 pl-0 pb-2 pr-0">
            {{ title }}
        </div>
    </div>
</a>