<a href="{{ post.link }}" class="col-md-4 mb-4">
    <div class="card bg-transparent border-0">
    <img
        src="{{ post.thumbnail.src('thumbnail') }}"
        alt="{{ post.title }}"
        class="card-img-top rounded-0"
    >
    <div class="card-body p-2">
        <p class="m-0">{{ post.title }}</p>
    </div>
    </div>
</a>