<nav>
    <ul class="menu {{ class }}">
        {% for item in menu.items %}
            <li class="nav-main-item {{ item.classes|join(' ') }}">
                <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>