{% extends 'layout.twig' %}

{% block content %}
    <div class="products">
        <div class="row">
            {% for product in products %}
                {% include 'partials/item.twig' with {
                    alt: product.title,
                    image: product.thumbnail.src('thumbnail'),
                    link: product.link,
                    price: product.Price,
                    title: product.title
                } %}
            {% endfor %}
        </div>
    </div>
    {% include 'partials/pagination.twig' with {
        paginable: products
    } %}
{% endblock %}