{% extends 'layout.twig' %}

{% block content %}
    {% include 'partials/secondary-menu.twig' with {
        name: 'secondary-menu',
        menu: secondary_menu
    } %}
    {% for product in products %}
        <a href="{{ product.link }}"><img src="{{ product.thumbnail.src('large') }}" alt="{{ product.title }}" /></a>
    {% endfor %}
{% endblock %}