{% extends 'layout.twig' %}

{% block content %}
    {% include 'partials/menu.twig' with { menu: secondary_menu, class: 'secondary-menu' } %}
    {% for product in products %}
        <a href="{{ product.link }}"><img src="{{ product.thumbnail.src('large') }}" alt="{{ product.title }}" /></a>
    {% endfor %}
{% endblock %}